<template>
  <div id="app-error-dialog" class="w3-modal ppa-ajax-error" v-if="errorStoreState.errorMessage">
    <div class="w3-modal-content w3-card">
      <header class="w3-container w3-theme">
        <h2>
          <font-awesome-icon :icon="['fas', 'exclamation-triangle']" />Error
        </h2>
      </header>
      <div class="w3-container w3-theme-l5">
        <p>{{errorStoreState.errorMessage}}</p>
      </div>
      <footer class="w3-bar w3-theme w3-padding">
        <div class="w3-right">
          <a class="w3-bar-item w3-button w3-theme-l5" v-on:click="dismissError">Ok</a>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faExclamationTriangle } from "@fortawesome/free-solid-svg-icons";
import errorStore from "@/stores/error.store";

library.add(faExclamationTriangle);

export default {
  data: function() {
    return {
      errorStoreState: errorStore.state
    };
  },
  methods: {
    dismissError() {
      errorStore.clearErrorMessage();
    }
  }
};
</script>

<style lang="scss">
.ppa-ajax-error {
  display: block;
}
</style>