<template>
  <div>
    <router-link
      class="w3-bar-item w3-button w3-xlarge w3-hover-theme"
      active-class="w3-theme-d3"
      to="/fortune"
    >Fortune</router-link>
    <router-link
      class="w3-bar-item w3-button w3-xlarge w3-hover-theme"
      active-class="w3-theme-d3"
      to="/oracle"
    >Oracle</router-link>
  </div>
</template>

<script>
export default {
  data: function() {
    return {};
  }
};
</script>
