<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.png">
  <link rel="stylesheet" href="<%= BASE_URL %>css/w3.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/theme.css">
  <title>Baco</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but Baco doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
</body>

</html>