<template>
  <div id="app">
    <nav
      class="w3-sidebar w3-bar-block w3-card w3-hide-large w3-hide-medium"
      id="mySidebar"
      v-show="menuVisible"
      v-on:click="toggleMenu"
    >
      <div class="w3-container w3-theme-d2">
        <span
          class="w3-button w3-display-topright w3-large"
          aria-label="Close menu"
        >
          <font-awesome-icon :icon="['fas', 'window-close']" aria-hidden="true" />
        </span>
        <br />
        <br />
      </div>
      <Menu />
    </nav>

    <header class="w3-top w3-bar w3-theme-d4">
      <div class="w3-left w3-hide-large w3-hide-medium">
        <button
          class="w3-bar-item w3-button w3-xlarge w3-hover-theme"
          aria-label="Menu"
          v-on:click="toggleMenu"
        >
          <font-awesome-icon :icon="['fas', 'bars']" aria-hidden="true" />
        </button>
      </div>
      <div class="w3-left w3-hide-small">
        <Menu />
      </div>
      <div class="w3-right">
        <router-link to="/">
          <img class="w3-circle app-header-image" src="./assets/app.png" alt="Baco" />
        </router-link>
      </div>
    </header>
    <Error />
    <div class="w3-padding w3-text-theme w3-display-container app-main-content">
      <router-view />
    </div>
    <footer class="w3-container w3-bottom w3-theme-d4 w3-margin-top w3-bar">
      <div class="w3-left w3-bottom app-footer-version">Version {{ version }}</div>
      <div class="w3-right app-footer-copyright">
        <font-awesome-icon :icon="['fas', 'copyright']" />Javier Sedano &amp; Antonio Rodriguez 2020,
        <font-awesome-icon :icon="['fab', 'creative-commons']" />
        <font-awesome-icon :icon="['fab', 'creative-commons-by']" />
        <font-awesome-icon :icon="['fab', 'creative-commons-sa']" />
        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA-4.0</a>
      </div>
    </footer>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faCopyright,
  faWindowClose,
  faBars
} from "@fortawesome/free-solid-svg-icons";
import {
  faCreativeCommons,
  faCreativeCommonsBy,
  faCreativeCommonsSa
} from "@fortawesome/free-brands-svg-icons";
import Menu from "@/components/Menu";
import versionService from "@/services/version.service";
import Error from "@/components/Error";

library.add(
  faCopyright,
  faWindowClose,
  faBars,
  faCreativeCommons,
  faCreativeCommonsBy,
  faCreativeCommonsSa
);

export default {
  components: {
    Menu,
    Error
  },
  data: function() {
    return {
      version: undefined,
      menuVisible: false
    };
  },
  async mounted() {
    this.version = await versionService.getVersion();
  },
  methods: {
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/common.scss";
$app-header-height: 52px;
$app-footer-height-small: 15px;
$app-footer-height-medium: 22px;

.app-header-icon {
  margin-top: 13px;
  margin-bottom: 13px;
}
.app-header-image {
  height: 52px;
}

.app-main-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: $app-header-height;
  margin-bottom: $app-footer-height-small;
  height: calc(100vh - #{$app-header-height} - #{$app-footer-height-small});
}

@media (min-width: $app-w3-screen-width-small) {
  .app-main-content {
    margin-bottom: $app-footer-height-medium;
    height: calc(100vh - #{$app-header-height} - #{$app-footer-height-medium});
  }
}

.app-footer-version {
  font-size: 7px;
}
.app-footer-copyright {
  font-size: 10px;
}
@media (min-width: $app-w3-screen-width-small) {
  .app-footer-version {
    font-size: 10px;
  }
  .app-footer-copyright {
    font-size: 15px;
  }
}

.app-invisible {
  visibility: hidden;
}
</style>
