<template>
  <div class="app-oracle-container">
    <div
      class="app-oracle-container"
      v-if="answer === null"
      v-on:mousedown.prevent="listen"
      v-on:touchstart.prevent="listen"
      v-on:mouseup.prevent="load(window.innerHeight / window.innerWidth)"
      v-on:touchend.prevent="load(window.innerHeight / window.innerWidth)"
    >
      <div class="w3-display-middle w3-center">
        <font-awesome-layers class="fa-6x">
          <font-awesome-icon :icon="['fas', 'microphone']" transform="shrink-7" v-if="!loading" />
          <font-awesome-icon
            :icon="['fas', 'spinner']"
            class="app-invisible"
            v-if="!listening && !loading"
          />
          <font-awesome-icon :icon="['fas', 'spinner']" v-if="listening || loading" spin />
        </font-awesome-layers>
        <div class="app-oracle-text">Press and hold... and ask a Yes/No question</div>
      </div>
    </div>
    <div
      class="app-oracle-container app-oracle-answer-container"
      v-bind:style="[answer ? { 'background-image': 'url('+answer.gifUrl+')' } : {}]"
      v-if="answer !== null"
      v-on:click="restart"
    >
      <div class="app-oracle-answer w3-display-middle w3-center">{{ answer.answer }}</div>
      <div class="w3-display-bottomright w3-display-container">
        <div class="w3-right">{{answer.author}}</div>
        <div>
          <a v-bind:href="answer.giphyUrl">
            <img src="../assets/PoweredBy_200_Horizontal_Light-Backgrounds_With_Logo.gif" alt="Powered by Giphy"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faMicrophone, faSpinner } from "@fortawesome/free-solid-svg-icons";
import oracleService from "@/services/oracle.service";
import errorStore from "@/stores/error.store";

library.add(faMicrophone, faSpinner);

const minimalListenTime = 1000;

export default {
  data: function() {
    return {
      window: window,
      listening: false,
      loading: false,
      answer: null,
      lastPressTime: 0
    };
  },
  methods: {
    listen() {
      this.listening = true;
      this.lastPressTime = Date.now();
    },
    async load(ratio) {
      try {
        this.listening = false;
        const currentPressTime = Date.now();
        const elapsed = currentPressTime - this.lastPressTime;
        if (elapsed < minimalListenTime) {
          return;
        }
        this.loading = true;
        const response = await oracleService.getResponse(ratio);
        this.loading = false;
        this.answer = response;
      } catch (err) {
        this.loading = false;
        errorStore.setErrorMessage(err);
      }
    },
    restart() {
      this.answer = null;
      this.imgUrl = null;
    }
  }
};
</script>
<style lang="scss">
.app-oracle-container {
  height: 100%;
  position: relative;
}

.app-oracle-text {
  font-size: 2vw;
}

.app-oracle-answer-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app-oracle-answer {
  font-size: 27vw;
}
</style>